.header {
    width: 90%;
    background-color: rgb(213, 226, 222);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}