.person {
    text-align: center;
    padding: 10px;
    border: 1px solid lightslategray;
    border-radius: 10px;
    color: white;
}

.person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.person button {
    width: 200px;
    background-color: rgb(158, 171, 184);
    line-height: 20px;
    font-weight: bolder;
    border-radius: 5px;
}

.person button:hover {
    cursor: pointer;
}

.person button:active {
    background-color: rgb(122, 87, 87);
}

.btn-icon {
    margin-right: 10px;
    color: brown;
}